<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>


<% @superheroes.each do |superhero| %>
Hero Name: <%= superhero.name %><br>
Hero Power: <%= superhero.power %><br>
Hero Biography: <%= superhero.biography %>
